/* ------------ CSS PROPERTIES ------------*/
:root {
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-ml: 1.5rem;
    --space-lg: 2rem;
    --space-lg1: 2.5rem;
    --space-xl: 3rem;
    --space-xxl: 6rem;
    --font-sz-xs: 0.5rem;
    --font-sz-s: 0.8rem;
    --font-sz-med: 1.2rem;
    --font-sz-ml: 1.5rem;
    --font-sz-lg: 2rem;
    --padding-basic: 10px;
}

/* ------------ CSS RESET ------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', monospace, sans-serif;
}

html {
    overflow-y: hidden;
    scroll-behavior: smooth;
}

/* ------------ UTILITIES ------------ */

main .wrapper {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    flex-shrink: 0;
    flex-grow: 0;
    min-height: 50%;
    min-width: 50%;
    max-width: 800px;
}
.flex {
    display: flex;
}
.bg-red {
    background-color: red;
}
.bg-green {
    background-color: green;
}
.bg-yellow {
    background-color: yellow;
}
.txt-yellow {
    color: yellow;
}
.txt-green {
    color: green;
}


/* MAIN */

h1 {
    font-size: 2.5rem;
    max-width: 800px;
    text-align: center;
}
.container img {
    height: 100%;
}

/* NAVIGATION BAR */

.nav-bar {
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px;
    height: 40px;
    
}

ul {
    list-style: none;
    position: fixed;
}
ul li {
    display: inline;
}
a {
    margin-right: 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 40px;
    width: 40px;
    background-color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}